.diceContainer {
    display: flex;
    flex-wrap: wrap;
}

.dice {
    border: 1px solid black;
    border-radius: 20px;
    height: 100px;
    width: 100px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer {
    display: flex;
    justify-content: center;
}

#genButton {
    margin: 0px 15px;
}

#rollButton {
    margin: 0px 15px;
}

#sumButton {
    margin: 0px 15px;
}